<div class="container">
  <h1>{{class.title}}</h1>
  <p>Instructor: <strong>{{class.instructor}}</strong></p>
  <div class="row box-wrapper">
    <p>{{class.description}}</p>
    </br>
    <ul>
      {{#each class.lessons}}
        <li>{{lesson_title}}</li>
      {{/each}}
    </ul>
  </div>

<!--Enroll class-->
  {{#if user}}
    <form method="post" action="/{{type}}s/classes/register">
      <input type="hidden" name="student_id" value="{{user._id}}">
      <input type="hidden" name="class_id" value="{{class._id}}">
      <input type="hidden" name="class_title" value="{{class.title}}">
      <button type="submit" name="button" class="btn btn-custom">Register for this class</button>
    </form>
  {{else}}
    <p>You must <a href="/users/signin">log in</a> to enroll in a class.</p>
  {{/if}}
</div>
