<div class="container-fluid h-100">
 <div class="row h-100">
   <main class="col bg-faded py-3">
     <span class="text-center">
       <h1>{{class.title}}</h1>
       <br />
     </span>
     <div class="text-center">
       <table class="table box-wrapper">
         <thead class="text-center" style="background-color: #b8bad6;">
           <tr>
             <th scope="col">Lesson Number</th>
             <th scope="col">Lesson Title</th>
             <th scope="col">Details</th>
             <th scope="col">Edit</th>
             <th scope="col">Delete</th>
           </tr>
         </thead>
         <tbody class="text-center">
           {{#each class.lessons}}
             <tr>
               <td>{{lesson_number}}</td>
               <td>{{lesson_title}}</td>
               <td><a href="/classes/{{../class._id}}/lessons/{{lesson_number}}" class="cool-link"><img src="https://img.icons8.com/dusk/50/000000/show-property.png" alt="View"></a></td>
               <td><a href="/instructors/classes/{{../class._id}}/lesson/{{lesson_number}}/edit" class="cool-link"><img src="https://img.icons8.com/dusk/50/000000/edit-property.png" alt="Edit"></a></td>
               <td><a href="/instructors/classes/{{../class._id}}/lesson/{{lesson_number}}/delete" class="cool-link"><img src="https://img.icons8.com/dusk/50/000000/delete-property.png" alt="Delete"></a></td>
             </tr>
           {{/each}}
         </tbody>
       </table>
       <br />
      <div class="container text-center" style="margin-left: 25%;">
        <div class="row">
          <div class="col col-md-5">
            <a href="/instructors/classes/{{class.id}}/lessons/new" class="cool-link"><img src="https://img.icons8.com/dusk/50/000000/add-property.png">Add New Lesson</a>
          </div>
          <div class="col col-md-5">
            <a href="/instructors/classes/" class="cool-link"><img src="/public/images/back.png" style="width:50px;">Back to Classes</a>
          </div>
        </div>
      </div>
     </div>
   </main>
 </div>
</div>
